html {
	margin: 0;
	padding: .5em;
	
}

body {
	font-family: system-ui;
}


/* old aside 
aside {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	padding: 0 1em;
	max-width: 70ch;
	float: right;




}

#sideNav {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: white;
    padding: 0 2em;
    box-shadow: 0px 0 5px rgba(0,0,0,0.5);
    transition: transform 0.3s ease;

	overflow: auto;
  }

  #sideNav a:visited, a:link {
    color: white;
  }

  #sideNav a:hover {
	text-decoration: none;
  }

  #sideNav.active {
    display: block;
  }
*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

.modal-content {
    /* background-color: #fefefe; */
    margin: 1% auto; /* 15% from the top and centered */
    padding: 2em;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */

	border-radius: 10px;

	a:visited, a:link {
		color: rgb(0, 0, 0);
	  }


	h2 {
		margin: 1em 0 .5em;
		padding: 0;
	}

	ul {
		margin: 0;
		list-style-type: none;
		padding: 0;

		li {
			margin-bottom: 2vh;
		}
	}
}

.close-button {
    color: #aaa;
    float: right;

    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


nav {
	display: flex;
	justify-content: space-between;
	/*gap: 1vw;*/
	padding: .5em;
	/* border: thin solid lightgrey; */
	border-radius: 10px 10px 0 0;
	
	max-width: 1400px;
	margin: 0 auto;

	
	
	
	ul {
		display: flex;
		flex-direction: row;
		/*gap: 1vw;*/
		margin: 0;
		padding: 0;
		list-style-type: none;

		
		li {
		    position: relative;
		    display: inline-block;

		}
		
		li a {
		    display: block;
			padding: .5em;
		    /*color: white;
		    padding: 15px 20px;*/
		    text-decoration: none;
			border-radius: 5px;
			
			display: flex;
			align-items: center;
			gap: .5vw;
		}
		
		li a:hover {
		    background-color: black;
			color: white;

		}

		/* .fa, i {
			font-size: 3vh;
		} */
		
		
	}
	
}

nav ul li a:hover,
nav ul li:hover > a {  /* Add this line to keep parent hovered */
    background-color: black;
	color: white;
}

/* Dropdown content */
#dropdown {
    display: none;
    position: absolute;
    background-color: #eee;
    min-width: 20ch;
    z-index: 1;
	flex-direction: column;
	gap: 0;
	border-radius: 5px;
	box-shadow: 0px 0px 3px grey;
	
	li {
	    display: block;
	    text-align: left;
	}
	
	li a {
	    padding: .5em;
		
	}
	
	
}

nav li:hover #dropdown {
    display: block;
	z-index: 5;
}

#topNav {
	z-index: 1;
}

#breadcrumbNav {
	position: sticky;
	top: 0;
	z-index: 1;
	
	/* margin-top: 1vh; */

	border-radius: 0 0 10px 10px;
	
	ul {
		display: flex;
		gap: 1vw;
		/*align-items: center;*/
	}
	
	ul li {
		display: flex;
		align-items: center;
	}
}



footer {
	
	padding: .5em;
	

	
} 





main {
	padding: 1em;
}

header {
	max-width: 1600px;
	margin: 0 auto;
	
	
	img {
		max-height: 10vh;
		
	}

}

table {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding: .5em;
	/* align-self: center;


	margin: 10px; */
}



details {
	/*border: thin solid;*/
	border-radius: 5px;
	/*max-width: 70ch;*/
	padding: .5em;
	margin-bottom: 1vh;
	
	a:link, a:visited {
		color: white;
	}
	
	summary {
		/*border: thin solid;*/
		border-radius: 5px;
		/*max-width: 70ch;*/
		padding: .5em;
		cursor: pointer;
	}

	ul {
		list-style-type: none;
		padding: 0 1em;

		li {
			margin-bottom: 1vh;
		}
	}
}





.two-columns {
	max-width: 1600px;
	margin: 0 auto;	
	
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1vw;
}

.column {
	/*max-width: 800px;*/
	/*margin: auto;*/
}

.tabs {
    max-width: max-content;
	width: 100%;
    display: flex;
    flex-direction: column;

	.tab-header {
		display: flex;
		/* overflow: auto; */
		/* overflow: auto; */
		gap: .5vw;
		/* background-color: #f1f1f1; */
		/* border-bottom: 2px solid #ccc; */
	}
	
	.tab-button {
		padding: .5em;
		/* background-color: #e0e0e0; */
		border: none;
		cursor: pointer;
		flex: 1;
		/* text-align: center; */
		text-wrap: nowrap;
		font-size: medium;
	
		border-radius: 5px 5px 0 0;
		/* font-size: 16px; */
	}
	
	.tab-button.active {
		background-color: #14729e;
		color: white;
		/* font-weight: bold; */
	}
	




	
}

.tab-content {
	max-width: 100%;
	
	/* overflow: auto; */
	display: none;
	padding: 1em;
	/* background-color: #f9f9f9; */
	/* border: 1px solid #ccc; */

	border-radius: 0 5px 5px 5px;
}

.tab-content.active {
	display: block;
}

	/* Basic styling for the tab toggler button */
.tab-toggler {
    position: relative;
    display: inline-block;

	

	.tabs button {
		padding: 10px;
		margin: 5px;
		background-color: #4a5a61;
		border: 1px solid #a0c0d0;
		cursor: pointer;
		border-radius: 4px;
	}
	

}

	/* Show dropdown when tab-toggler button is clicked */
	.tab-toggler.active .tab-options {
		display: block;
	}

.toggle-btn {
    background-color: #394449;
    border: 1px solid #a0c0d0;
    padding: 8px 12px;
	margin-bottom: .5vh;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
	color: white;

	.toggle-btn button:hover {
		background-color: #14729e !important;
	}
}

/* Dropdown for checkboxes */
.tab-options, .column-options {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 4px;
    z-index: 1;
    top: 40px;
    right: 0;

	label, input {
		text-wrap: nowrap;
		cursor: pointer;
	}


}

.reset-uncheck {
	display: flex;
	gap: 1vw;



	.reset-btn, .uncheck-btn {
		text-wrap: nowrap;
		white-space: nowrap;
	}

	.reset-btn:hover, .uncheck-btn:hover {
		/* background-color: #14729e; */
		cursor: pointer;

	}

}



.tab-options div, .column-options div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.tab-options input[type="checkbox"], .column-options input[type="checkbox"] {
    margin-right: 8px;
}

/* Tab styles */
/* .tabs {
    margin-top: 20px;
} */



/* #dispatchedButtons { */

	.button-container {
		display: flex;
		justify-content: space-between;
		gap: 1vw;
		margin-bottom: 2vh;
		/* display: grid; */
		/* grid-template-columns: 1fr 4fr 1fr; */

		/* padding: .5em; */
	}

	@media screen and (max-width: 900px) {
		
		.button-container {
			flex-wrap: wrap;
			gap: 1vw;
		}

	.tabs {

		.tab-header {


		

		}

		.tab-button {
			display: none; /* Hide all tab buttons */
		}

		.tab-button.active {
			display: inline-block; /* Show only the active tab */
		}
	


	}

    /* The tab-toggler should always remain visible */
    .tab-toggler {
        display: block;
    }

	}
	
	.left-buttons, .middle-buttons, .right-buttons {
		display: flex;
		flex-wrap: wrap;
		gap: .3vw;
	}
	
	.left-buttons {
		flex-direction: column;
		/* margin-right: 10px; */
	}
	
	.middle-buttons, .right-buttons {
		/* margin-left: 10px; */
		/* margin-right: 10px; */
	}
	
	.btn {
		background-color: #d0e8f9; /* Default light blue color */
		border: 1px solid #a0c0d0;
		padding: .5em 1em;
		/* margin: 1vw; */
		cursor: pointer;
		/* font-size: 14px; */
		border-radius: 5px;
		text-wrap: nowrap;
	}
	
	.btn.blue {
		background-color: #4aa5d4; /* Primary blue color */
		color: white;
	}
	
	.btn.lightblue {
		background-color: #e7f2fa; /* Lighter blue shade for secondary buttons */
	}
	
	.btn:hover {
		opacity: 0.9;
	}

.dispatched-orders {
	padding: 10px;
	background-color: #47789b;
	border-radius: 4px;


.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 10px; */
}

.table-header h3 {
    font-size: 18px;
    margin: 0;
}

.table-actions {
    display: flex;
}

.table-actions button {
    background-color: #e7f2fa;
    border: 1px solid #a0c0d0;
    padding: 8px 12px;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

/* Table container for responsiveness */
.table-container {
    overflow-x: auto;
    /* margin-top: 10px; */
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: left;

}

thead th {
    background-color: #364851;
    padding: 10px;
    font-size: 14px;
    border-bottom: 2px solid #a0c0d0;

	border: thin solid;
    text-align: center;
    white-space: nowrap;
}

thead th:hover {
	background-color: #36708e;
	cursor: pointer;
}

thead th input[type="text"] {
    max-width: 100%;
    padding: 6px;
    margin-top: 5px;
    border: 1px solid #a0c0d0;
    border-radius: 4px;
    box-sizing: border-box;
}

tbody td {
    padding: 10px;
    text-align: center;
    /* border-bottom: 1px solid #d0e8f9; */
    white-space: nowrap;
}

tbody {
	border: 1px solid #a0c0d0;
}

.no-records {
    text-align: center;
    font-style: italic;
    padding: 10px;
    /* background-color: #f9f9f9; */
    /* border-top: 1px solid #d0e8f9; */
}

}





@media screen and (max-width: 900px) {
	#topNav {
		display: none;
	}

	.two-columns {
		grid-template-columns: 1fr;
		padding: 0;
	}

	main {
		padding: .5em;
	}


	html, body {
		padding: 0;
		margin: 0;
	}

	.modal-content {
		width: 80%;
		max-width: 90%;
	}



	.tab-content {
		padding: 0;
	}

	
}

@media screen and (prefers-color-scheme: light) {
	nav {
		border: none;
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 2px 3px rgb(117, 117, 117);
		
		ul li a {
			color: black;
			
		}
		

	}

	.modal-content {
		background-color: rgb(255, 255, 255);
		border: none;

		a:visited, a:link {
			color: rgb(0, 0, 0);
		  }
	}
	
	
	#dropdown, details, summary, .tab-content {
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 0px 2px rgb(117, 117, 117);
	}
	
	.tabs {
		.tab-header {
			color: white;
		}
	}
	
	.dispatched-orders {
		color: white;

		.table-header {
			color: white;
		}

		thead th {
			background-color: #4aa5d4;

		}
	}


	.tab-content {
		box-shadow: 0px 2px 3px rgb(117, 117, 117);
	}
	
	details {

		a:link, a:visited {
			color: rgb(37, 37, 37);
		}
		
		summary:hover {
			background-color: rgb(45,45,45);
			color: white;
		}

	}
}


@media screen and (prefers-color-scheme: dark) {
	body {
		background-color: rgb(45,45,45);
		color: white;
	}
	
	nav {
		border: none;
		background-color: rgb(65,65,65);
		box-shadow: 0px 0px 4px black;
		
		ul li a {
			color: white;
			
		}
		

	}

	.modal-content {
		background-color: rgb(65,65,65);
		border: none;

		a:visited, a:link {
			color: white;
		  }
	}
	
	
	#dropdown, details, summary, .tab-content {
		background-color: rgb(65,65,65);
		box-shadow: 0px 0px 2px black;
	}

	.tab-content {
		box-shadow: 0px 0px 4px black;
	}
	
	details {
		
		summary:hover {
			background-color: rgb(45,45,45);
		}
	}
}


