html {
	margin: 0;
	padding: .5em;
	
}

body {
	font-family: system-ui;
}


nav {
	display: flex;
	justify-content: space-between;
	/*gap: 1vw;*/
	padding: 0;
	border: thin solid lightgrey;
	border-radius: 5px;
	
	max-width: 1600px;
	margin: 0 auto;

	
	
	
	ul {
		display: flex;
		flex-direction: row;
		/*gap: 1vw;*/
		margin: 0;
		padding: 0;
		list-style-type: none;

		
		li {
		    position: relative;
		    display: inline-block;

		}
		
		li a {
		    display: block;
			padding: .5em;
		    /*color: white;
		    padding: 15px 20px;*/
		    text-decoration: none;
			border-radius: 5px;
			
			display: flex;
			align-items: center;
			gap: .5vw;
		}
		
		li a:hover {
		    background-color: black;
			color: white;

		}
		
		
	}
	
}

ul li a:hover,
ul li:hover > a {  /* Add this line to keep parent hovered */
    background-color: black;
	color: white;
}

/* Dropdown content */
#dropdown {
    display: none;
    position: absolute;
    background-color: #eee;
    min-width: 20ch;
    z-index: 1;
	flex-direction: column;
	gap: 0;
	border-radius: 5px;
	box-shadow: 0px 0px 3px grey;
	
	li {
	    display: block;
	    text-align: left;
	}
	
	li a {
	    padding: .5em;
		
	}
	
	
}

li:hover #dropdown {
    display: block;
	z-index: 5;
}

#topNav {
	z-index: 1;
}

#breadcrumbNav {
	position: sticky;
	top: 1vh;
	z-index: 1;
	
	margin-top: 1vh;
	
	ul {
		display: flex;
		gap: 1vw;
		/*align-items: center;*/
	}
	
	ul li {
		display: flex;
		align-items: center;
	}
}

footer {
	
	padding: .5em;
	
	img {
		max-height: 10vh;
		
	}
	
} 



.two-columns {
	max-width: 1800px;
	margin: 0 auto;	
	
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1vw;
}

.column {
	/*max-width: 800px;*/
	/*margin: auto;*/
}

details {
	/*border: thin solid;*/
	border-radius: 5px;
	/*max-width: 70ch;*/
	padding: .5em;
	margin-bottom: 1vh;
	
	a:link, a:visited {
		color: white;
	}
	
	summary {
		/*border: thin solid;*/
		border-radius: 5px;
		/*max-width: 70ch;*/
		padding: .5em;
		cursor: pointer;
	}
}

main {
	padding: 0 1em;
}

header {
	max-width: 1800px;
	margin: 0 auto;
	
	h1 {
		
	}
}



@media screen and (prefers-color-scheme: dark) {
	body {
		background-color: rgb(45,45,45);
		color: white;
	}
	
	nav {
		border: none;
		background-color: rgb(65,65,65);
		box-shadow: 0px 0px 4px black;
		
		ul li a {
			color: white;
			
		}
		

	}
	
	
	#dropdown, details, summary {
		background-color: rgb(65,65,65);
		box-shadow: 0px 0px 2px black;
	}
	
	details {
		
		summary:hover {
			background-color: rgb(45,45,45);
		}
	}
}


